Flask==2.0.3
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
msal==1.13.0
pyodbc>=4.0.32
azure-storage-blob>=12.14.1
requests>=2.22.0
Werkzeug==2.0.3
Jinja2>=3.0.1
python-dateutil>=2.8.1
itsdangerous>=2.0.1
WTForms>=2.2.1
certifi>=2019.11.28
cffi>=1.14.6
cryptography>=2.8
idna>=2.8
six>=1.14.0
pycparser>=2.20
